.container-fluid {
    text-align: -webkit-center;
}
form.xy{
    display: grid;
    width: 27%;
    margin-top: 8vh;
    padding: 21px;
    font-size: 16px;
    line-height: 5rem;

}

 .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0px;


 }